html, body {
    padding: 0%;
    margin: auto;
    background-color: grey;
    max-width: 600px;
}

header {
    background-color: white;
    text-align: center;
    font-size: 36px;
    padding: 4px;
}

main {
    text-align: center;
    padding: 80px;
    
    * {margin-bottom: 40px;}

    h1 {font-size: 48px;}

    p {font-size: 18px;}

    #selecttime {
        background-color: white;
        padding: 20px 0px;
    }

    #begin {padding: 12px;}

    #error {
        margin: 0px;
        color: red;
    }
}